# NOVI API
VITE_NOVI_API_BASE_URL=https://novi-backend-api-wgsgz.ondigitalocean.app
VITE_NOVI_API_KEY=
VITE_NOVI_PROJECT_ID=

# TMDB
VITE_TMDB_API_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_API_KEY=
